/** @format */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* shared style */
.secondary-bg {
  background: rgb(255, 255, 255);
}
.text-primary {
  color: rgb(253, 110, 10);
}
.dark-2 {
  color: rgb(71, 71, 71);
}

.btn-primary {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.2%;
  text-align: left;
  border-radius: 5px;

  background: rgb(253, 110, 10);
  border: none;
  padding: 18px 35px;
}
.section-title {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}
.section-description {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}
.header {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
.btn-primary:hover {
  background: linear-gradient(
    to right,
    rgba(87, 83, 250, 0.2),
    rgba(87, 83, 214, 0.4)
  );
  transition: 0.5s ease-in-out all;
}
/* Nav Style */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 50px;
}
nav li a {
  text-decoration: none;
  font-size: 20px;
}
/* banner style */
.banner-gretting {
  color: rgb(71, 71, 71);
  font-size: 45px;
  font-weight: 600;
  line-height: 61px;
  letter-spacing: 0.2%;
  text-align: left;
}
.banner-title {
  color: rgb(24, 24, 24);
  font-size: 85px;
  font-weight: 700;
  line-height: 116px;
  letter-spacing: 0%;
  text-align: left;
}

.banner-profile.pic {
  width: 584px;
}
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 230px;
}
.banner-content {
  max-width: 580px;
}
/* about */
/* main */
main {
  max-width: 1170px;
  margin: 0 auto;
}
.about {
  border-radius: 1px;
  padding: 130px 150px;
  text-align: center;
  margin-top: 130px;
}
.item-description {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}
.about-items {
  display: flex;
  justify-content: space-around;
}
